---
export const prerender = false;
import { db, siteSchema } from "@db/index"
import BaseLayout from "@layouts/BaseLayout.astro";

import { config } from "@config";

const dbData = (
	await db.select().from(siteSchema.dbIdentity).limit(1)
)[0];



import { SeedDefault } from "@utils/SeedUtil"

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const action = formData.get("action");

  if (action === "reset-db") {
		await SeedDefault().catch((err) => {
			console.error("Error seeding default site:", err);
		});
  }
}



export function formatTimestamp(input: string | Date | null): string {
  if (!input) return "No Timestamp";

  const date = input instanceof Date ? input : new Date(input);

  const year = date.getFullYear();
  const dayName = date.toLocaleDateString("en-US", { weekday: "short" });
  const monthName = date.toLocaleDateString("en-US", { month: "long" });
  const day = date.getDate();

  let hours = date.getHours();
  const minutes = date.getMinutes().toString().padStart(2, "0");
  const ampm = hours >= 12 ? "pm" : "am";
  hours = hours % 12 || 12;

	return `${year} ${dayName}, ${day} ${monthName}  ${hours}:${minutes} ${ampm}`;
}


---

<BaseLayout title="Status Check">
	<div class="flex justify-center space-x-4">

		<div class="p-6 border-2 border-primary rounded-lg">
			<h1 class="text-xl font-bold mb-4 px-4">Environment Variable</h1>

			<table class="table-auto w-full border-collapse">
				<thead>
					<tr class="hover:hover-primary border-b-2 border-primary">
						<th class="px-4 py-2 text-left font-semibold">DB Field</th>
						<th class="px-4 py-2 text-left font-semibold">DB Value</th>
					</tr>
				</thead>

				<tbody>
					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Env Name</td>
						<td class="px-4 py-2 text-base text-primary">{config.name}</td>
					</tr>
					
					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Env Title</td>
						<td class="px-4 py-2 text-base text-primary">{config.title}</td>
					</tr>
					
					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Env Description</td>
						<td class="px-4 py-2 text-base text-primary">{config.description}</td>
					</tr>
					
					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Env Banner</td>
						<td class="px-4 py-2 text-base text-primary">{config.banner}</td>
					</tr>

					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Env Copyright</td>
						<td class="px-4 py-2 text-base text-primary">{config.copyright}</td>
					</tr>
					
					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Env Url</td>
						<td class="px-4 py-2 text-base text-primary">{config.url}</td>
					</tr>

				</tbody>

			</table>
		</div>

		<div class="p-6 border-2 border-primary rounded-lg">

			<h1 class="text-xl mb-4 px-4 font-bold">Database Status</h1>

			<table class="table-auto w-full border-collapse">
				<thead>
					<tr class="hover:hover-primary border-b-2 border-primary">
						<th class="px-4 py-2 text-left font-semibold">DB Field</th>
						<th class="px-4 py-2 text-left font-semibold">DB Value</th>
					</tr>
				</thead>

				<tbody>
					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Db Id</td>
						<td class="px-4 py-2">{dbData?.dbId || "Empty"}</td>
					</tr>

					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Db Label</td>
						<td class="px-4 py-2">{dbData?.dbLabel || "No Label"}</td>
					</tr>

					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Db Title</td>
						<td class="px-4 py-2">{dbData?.dbTitle || "No Title"}</td>
					</tr>

					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Db Description</td>
						<td class="px-4 py-2">{dbData?.dbDescription || "No Description"}</td>
					</tr>

					<tr class="border-b-2 border-primary hover:hover-primary">
						<td class="px-4 py-2 text-base text-primary">Db Creation</td>
						<td class="px-4 py-2">{ formatTimestamp(dbData?.dbDataCreatedAt) || "No Timestamp"}</td>
					</tr>
				</tbody>
			</table>



			<form method="POST">
				<input type="hidden" name="action" value="reset-db" />
				<button class="mt-4 bg-red-500 text-white text-base font-bold px-4 py-2 text-center rounded-md hover:bg-red-600" type="submit">
					Reset DB
				</button>
			</form>
		</div>


	</div>

</BaseLayout>
