---
interface Option {
  text: string;
  value?: string;
	name: string;
	key: boolean
}

interface Props {
	Id: string;
  number: number;
  title: string;
  description: string;
  options: Option[];
  // name?: string; // name for input group
  type?: "radio" | "checkbox";
	hideDescription : boolean
}

const isPined = true

const {
	Id,
  number,
  title,
  description,
  options = [],
	type,
	hideDescription = false
} = Astro.props;
---

<div class="mb-2 border-2 border-primary bg-tertiary rounded-lg p-4  hover:scale-[1.02]">
	<details class="group/settings">
		<summary class="list-none cursor-pointer flex items-start  w-full">
			<div class="flex flex-col w-full">

				<div class="flex-1 flex flex-row gap-4 w-full">
					<div class="shrink-0 text-primary text-lg bg-accent flex justify-center items-center rounded-lg w-10 h-10">
						{number}
					</div>

					<details class="group relative w-full" open={hideDescription}>
						<summary class="list-none cursor-pointer flex items-start justify-between">
							<h1 class="text-2xl">{title}</h1>

							<svg xmlns="http://www.w3.org/2000/svg"
								class="shrink-0 w-8 h-8 text-primary transition-transform duration-200 group-open:rotate-180 mr-4 mt-0"
								fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M19 9l-7 7-7-7" />
							</svg>
						</summary>

						<h2 class="text-xl text-secondary mt-1">{description}</h2>
					</details>


				</div>

				<div class="ml-9 space-y-4 pl-3 py-3 ">
					{options.map((opt, i) => {
					const letter = String.fromCharCode(65 + i)

					return(
							<label
								class={`flex items-start gap-4 p-4 border-2 border-primary rounded-lg cursor-pointer
									${opt.key ? "status-indicator-success" : "text-secondary"}
								`}
							>
								<input
									type={type || "radio"}
									name={opt.name}
									value={opt.value || i}
									class="mt-[0.66em] ml-[0.11em] pl-2 w-5 h-5 scale-125 shrink-0"
								/>

								<span class="text-xl leading-relaxed flex-1">
									{letter}. {opt.text}
								</span>

								{opt.key && (
									<svg class="w-8 h-8 mt-1 shrink-0" viewBox="0 0 48 48" fill="none">
										<path
											d="M42 20V39C42 40.6569 40.6569 42 39 42H9C7.34315 42 6 40.6569 6 39V9C6 7.34315 7.34315 6 9 6H30"
											stroke="currentColor"
											stroke-width="4"
											stroke-linecap="round"
											stroke-linejoin="round"
										/>
										<path
											d="M16 20L26 28L41 7"
											stroke="currentColor"
											stroke-width="4"
											stroke-linecap="round"
											stroke-linejoin="round"
										/>
									</svg>
								)}
							</label>

						)}
					)}

				</div>


			</div>

			<svg xmlns="http://www.w3.org/2000/svg" 
				class="shrink-0 w-8 h-8 text-primary transition-transform duration-200 group-open/settings:rotate-60" 
				 fill="none" 
				 viewBox="0 0 24 24" 
				 stroke="currentColor">
			<path stroke-linecap="round" 
						stroke-linejoin="round" 
						stroke-width="2" 
						d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
			<path stroke-linecap="round" 
						stroke-linejoin="round" 
						stroke-width="2" 
						d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
			</svg>

		</summary>


		<p class="mt-2 text-sm text-secondary">

		<div class="flex lg:flex-row flex-col gap-3 justify-between ml-12 mr-8 mt-6">
			<div class="flex flex-row gap-3 ">
				<button class="edit-event-btn  text-lg   px-3 py-2 border-2 border-primary rounded-lg flex flex-row items-center gap-2 hover-overlay"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
						<path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
					</svg>
					<span
							data-Id={Id}
						  data-title={title}
							data-description={description}
							data-type={type}
							data-options={JSON.stringify(options)}
					>
						Edit
					</span>
				</button>

				<button class="delete-event-btn text-lg  px-3 py-2 border-2 border-primary rounded-lg flex flex-row items-center gap-2 hover-overlay"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<polyline points="3 6 5 6 21 6"/>
						<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
						<line x1="10" y1="11" x2="10" y2="17"/>
						<line x1="14" y1="11" x2="14" y2="17"/>
					</svg>
					<span
						data-Id={Id}
					>
						Delete
					</span>
				</button>

				<button
					class="pin-event-btn text-lg px-3 py-2 border-2 border-primary rounded-lg flex flex-row items-center gap-2 hover-overlay"
				>
					{isPined? (
						<>
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"
								viewBox="0 0 24 24" fill="currentColor" class="text-primary">
								<path d="M16 4v7l2 3v2h-5v6l-1 2-1-2v-6H6v-2l2-3V4c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2z"/>
							</svg>
							<span
								data-Id={Id}
							>Unpin</span>
						</>
					) : (
						<>
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"
								viewBox="0 0 24 24" fill="none" stroke="currentColor"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M16 4v7l2 3v2h-5v6l-1 2-1-2v-6H6v-2l2-3V4c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2z"/>
							</svg>
							<span
								data-Id={Id}
							>Pin</span>
						</>
					)}

				</button>
			</div>



			<div class="flex flex-row gap-3">

				<button class="text-lg  px-3 py-2 border-2 border-primary rounded-lg flex flex-row items-center gap-2 hover-overlay">

					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/>
						<rect x="8" y="2" width="8" height="4" rx="1" ry="1"/>
					</svg>

					<span>
						Copy Content
					</span>
				</button>

				<button class="text-lg  px-3 py-2 border-2 border-primary rounded-lg flex flex-row items-center gap-2 hover-overlay">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<rect x="9" y="9" width="13" height="13" rx="2" ry="2"/>
						<path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"/>
					</svg>
					<span>
						Duplicate
					</span>
				</button>

			</div>

		</div>
		</p>

	</details>

</div>

