---
import { generateId } from '@utils/MainUtils';
interface Props {
  startTime: string;
  endTime: string;
  eventName?: string;
}
const { startTime, endTime, eventName = "Event" } = Astro.props;
const uniqueId = `countdown-${generateId()}`;
---
<span 
  id={uniqueId} 
  class="countdown-timestamp"
  data-start={startTime} 
  data-end={endTime} 
  data-event={eventName}
></span>
